body {
    height: 100%;
}

.categories {
    display: flex;
    justify-content: space-evenly;
}

.title {
    color: white;
    font-size: 20px;
    margin: 30px;
    font-weight: bolder;
}

.backlog-container {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin-left: 200px;
    z-index: -1;
    position: fixed;
}

.backlog {
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 100px;
    margin-left: 220px;
    margin-right: 20px;
    margin-top: 30px;
    border: 2px solid black;
    z-index: 3;
    align-items: center;
    border-radius: 10px;
}

.all-backlogs {
    display: flex;
    flex-direction: column;
}

.row-backlog {
    height: 100px;
    background-color: white !important;
    margin-left: 220px;
    margin-right: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.row-backlog::after {
    content: "";
    display: table;
    clear: both;
}

.titles-backlog {
    height: 100px;
    background-color: rgba(14, 14, 15, 0.35);
    position: absolute;
    right: 0;
    width: 100%;
    left: 205px;
}

.titles-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-right: 80px;
    padding-left: 30px;
}

.Low {
    background-color: rgb(20, 92, 10);
    width: 44px;
    border-radius: 8px;
    text-align: center;
    color: white;
    margin-right: 8px;
    margin-left: 8px;
    padding: 5px;
}

.Normal {
    background-color: #2066ae;
    width: 62px;
    border-radius: 8px;
    text-align: center;
    color: white;
    margin-right: 8px;
    margin-left: 8px;
    padding: 5px;
}

.High {
    background-color: rgb(122, 7, 7);
    width: 44px;
    border-radius: 8px;
    text-align: center;
    color: white;
    margin-right: 8px;
    margin-left: 8px;
    padding: 5px;
}

.description {
    width: 40%;
    max-height: 100px;
    overflow-y: hidden;
}

.delete {
    width: 30px;
    margin-right: 20px;
}

.img-profile {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 20px;
    background-color: rgba(128, 128, 128, 0.5);
}

.profile {
    display: flex;
    text-align: center;
}

#tasks {
    max-height: 520px;
    overflow-y: auto;
    position: relative;
    top: 70px;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.row {
    margin-left: 205px;
    background-color: rgba(14, 14, 15, 0.35);
    display: flex;
    justify-content: space-between;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}

.left {
    width: 20%;
    margin: 20px;
}

.middle {
    width: 40%;
    margin: 20px;
}

.right {
    width: 37%;
}

.descriptionBox {
    overflow-y: scroll;
    max-height: 100px;
    width: 30%;

}

.pd {
    padding-left: 20px;
}

.task-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 60%;
}

@media(max-width:1030px) {
    .row {
        margin-left: 0;
    }

    .left {
        width: 15%;
        margin: 10px;
    }

    .title {
        color: white;
        font-size: 11px;
        margin-top: 11px;
        font-weight: bolder;
    }

    .middle {
        width: 18%;
        margin: 10px;
    }

    .text {
        width: 30%;
        margin: 10px;
        text-align: center;
    }

    .right {

        margin: 20px;
        text-align: center;
    }

    .backlog-container {
        margin-left: 0;
    }

    .row-backlog {
        margin-left: 8px;
        margin-right: 8px;
    }

    .img-profile {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 3px;
    }

    .Low {
        width: 34px;
        margin-right: 0px;
        margin-left: 0px;
        padding: 5px;
    }

    .delete {
        width: 20px;
        margin-right: 0;
    }

    .descriptionBox {
        overflow-y: scroll;
        max-height: 100px;
        word-break: break-all;
    }
}