body {
    height: 100%;
}

.categories {
    display: flex;
    justify-content: space-evenly;
}

.title {
    color: white;
    font-size: 20px;
    margin: 30px;
    font-weight: bolder;
}

.backlog-container {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin-left: 200px;
    z-index: -1;
    position: fixed;
}

.backlog {
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 100px;
    margin-left: 220px;
    margin-right: 20px;
    margin-top: 30px;
    border: 2px solid black;
    z-index: 3;
    align-items: center;
    border-radius: 10px;
}

.all-backlogs {
    display: flex;
    flex-direction: column;
}

.row-backlog {
    max-height: 250px;
    min-height: 100px;
    background-color: white !important;
    margin-left: 220px;
    margin-right: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.row-backlog::after {
    content: "";
    display: table;
    clear: both;
}

.titles-backlog {
    height: 100px;
    background-color: rgba(14, 14, 15, 0.35);
    position: absolute;
    right: 0;
    width: 100%;
    left: 205px;
}

.titles-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-right: 80px;
    padding-left: 30px;
}

.Low {
    background-color: rgb(20, 92, 10);
    width: 44px;
    border-radius: 8px;
    text-align: center;
    color: white;
    margin-right: 8px;
    margin-left: 8px;
    padding: 5px;
}

.Normal {
    background-color: #2066ae;
    width: 62px;
    border-radius: 8px;
    text-align: center;
    color: white;
    margin-right: 8px;
    margin-left: 8px;
    padding: 5px;
}

.High {
    background-color: rgb(122, 7, 7);
    width: 44px;
    border-radius: 8px;
    text-align: center;
    color: white;
    margin-right: 8px;
    margin-left: 8px;
    padding: 5px;
}

.description {
    width: 40%;
    max-height: 100px;
    overflow-y: hidden;
}

.delete {
    width: 30px;
    margin-right: 20px;
}

.img-profile {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 20px;
    background-color: rgba(128, 128, 128, 0.5);
}

.profile {
    display: flex;
    text-align: center;
}

#tasks {
    max-height: 520px;
    overflow-y: auto;
    position: absolute;
    top: 135px;
    width: 100%;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.row {
    margin-left: 205px;
    background-color: rgba(14, 14, 15, 0.35);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}

.left {
    width: 20%;
    margin: 20px;
}

.middle {

    margin: 20px;
}

.right {
    width: 37%;
}

.category {
    width: 18%;
    margin: 10px;
}

.text {
    width: 41%;
    margin-left: 107px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.descriptionBox {
    overflow-y: scroll;
    max-height: 100px;
    width: 40%;

}

.pd {
    padding-left: 20px;
}

.task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

@media(max-width:1030px) {

    #tasks {
        top: 60px;
    }

    .row {
        margin-left: 0;
        padding-bottom: 5px;
    }

    .left {
        width: 15%;
        margin: 10px;
    }

    .title {
        color: white;
        font-size: 11px;
        margin-top: 11px;
        font-weight: bolder;
    }

    .middle {
        width: 18%;
        margin: 10px;
    }

    .category {
        width: 18%;
        margin: 10px;
    }

    .text {
        width: 38%;
        margin: 10px;

    }

    .right {

        margin: 20px;

    }

    .backlog-container {
        margin-left: 0;
    }

    .row-backlog {
        margin-left: 8px;
        margin-right: 8px;
    }

    .img-profile {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 3px;
    }

    .Low,
    .High,
    .Normal {
        width: 34px;
        margin-right: 0px;
        margin-left: 0px;
        padding: 5px;
    }

    .delete {
        width: 20px;
        margin-right: 0;
    }

    .descriptionBox {
        overflow-y: scroll;
        max-height: 100px;
        word-break: break-all;
        margin-left: 73px;
    }

    @media(max-width:600px) {
        .row-backlog {
            flex-direction: column;
        }

        .icon {

            width: 20px;
        }

        .hide {
            display: none;
        }

        .container-trash {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            margin-bottom: 10px;
        }

        .task-container {
            width: 90%;
        }

        .category {
            width: 30%;
            margin: 10px;
        }

        .middle {
            width: 23%;
            margin: 10px;
        }

        .descriptionBox {

            margin-left: 0;
        }

        .text {
            width: 84%;
            margin: 10px;

        }

    }

    @media(max-width:300px) {
        .hide-name {
            display: none;
        }

        .category {
            width: 45%;
            margin: 10px;
        }

        .icon {
            right: 0px;
            top: 10px;
        }

        .pd {
            padding-left: 0;
        }

        .Low,
        .High,
        .Normal {
            font-size: 10px;
        }

        .img-profile {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin: 3px;
        }

        .category {
            font-size: 12px;
        }

        .title {
            font-size: 7px;
        }
    }
}