.footer-cont {
    background-color: rgba(14, 14, 15, 0.35);
    border-top: 5px solid #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.copyright {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    z-index: 6;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-links p {
    margin-right: 50px;
    text-decoration: underline;
}

.margin {
    margin-top: -10px;
}

.img-cont {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

.cont-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    width: 900px;
    color: white;
}

@media(max-width:900px) {
    .copyright {
        height: 60px;
    }
    .footer-links {
        width: 600px;
        color: white;
        left: 0;
        height: 66px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hide-mobile {
        display: none;
    }
    a {
        text-decoration: none !important;
        color: white;
        font-size: 15px;
    }
}