<div class="footer-cont">
    <div class="copyright hide-mobile">
        <p>&copy copyright 2021</p>
        <p class="margin">by JOIN.io</p>
    </div>
    <div class="footer-links">
        <a href="data_protection.html">
            <p>Datenschutz</p>
        </a>
        <a href="impressum.html">
            <p>Impressum</p>
        </a>
    </div>
    <div class="cont-right hide-mobile">
        <a href="#"> <img class="img-cont" src="./img/social_icons/facebook-64.ico"></a>
        <a href="#"> <img class="img-cont" src="./img/social_icons/telegram-64.ico"></a>
        <a href="#"> <img class="img-cont" src="./img/social_icons/twitter-64.ico"></a>
    </div>
</div>