<div class="btn-logout hide-mobile"><a href="index.html">abmelden</a></div>


<div class="navbar-container hide-mobile">
    <div class="logo-container">
    <img src="img/logo2.png"></div>
    <nav id="navigation">
        <a class="navlist" id="board" href="Board.html">Board</a>
        <a class="navlist" id="backlog" href="backlog.html">Backlog</a>
        <a class="navlist" id="addTask" href="addTask.html">Add Task</a>
        <a class="navlist" id="help" href="help.html">Help</a>
    </nav>
    <div id="design-container">
        <a class="navlist" id="design" href="design.html">Design</a>
        <img src=./img/farbpalette.png class="img-design">
    </div>
</div>

<div id="menuwrapper">
<img src="img/menu.png" class="d-none icon" onclick="openNav()">
<div class="overlay" id="myNav">
   
    <a class="closebtn" onclick="closeNav()">X</a>
    <nav id="navigation" class="overlay-content">
        <div class="logo-container">
        <img src="img/logo2.png" class="logo"></div>
        <a class="navlist" id="board" href="Board.html">Board</a>
        <a class="navlist" id="backlog" href="backlog.html">Backlog</a>
        <a class="navlist" id="addTask" href="addTask.html">Add Task</a>
        <a class="navlist" id="help" href="help.html">Help</a>
    </nav>
    <div id="design-container" class="overlay-content">
        <a class="navlist" id="design" href="design.html">Design</a>
        <img src=./img/farbpalette.png class="img-design">
    </div>
</div>
</div>